<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mentos</display-name>
  <servlet>
    <description></description>
    <display-name>MentoMyPageServlet</display-name>
    <servlet-name>MentoMyPageServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mento.web.MentoMyPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoMyPageServlet</servlet-name>
    <url-pattern>/user/mento/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentoModifyServlet</display-name>
    <servlet-name>MentoModifyServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mento.web.MentoModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoModifyServlet</servlet-name>
    <url-pattern>/user/mento/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenteeSignUpServlet</display-name>
    <servlet-name>MenteeSignUpServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.MenteeSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeSignUpServlet</servlet-name>
    <url-pattern>/user/mentee/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMenteeDuplicated</display-name>
    <servlet-name>CheckMenteeDuplicated</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.CheckMenteeDuplicated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMenteeDuplicated</servlet-name>
    <url-pattern>/user/mentee/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckMentoDuplicated</display-name>
    <servlet-name>CheckMentoDuplicated</servlet-name>
    <servlet-class>com.ktds.mentos.user.mento.web.CheckMentoDuplicated</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMentoDuplicated</servlet-name>
    <url-pattern>/user/mento/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginMenteeServlet</display-name>
    <servlet-name>LoginMenteeServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.LoginMenteeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginMenteeServlet</servlet-name>
    <url-pattern>/mentee/login/signIn</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.mentos.common.web.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MenteeMypageServlet</display-name>
    <servlet-name>MenteeMypageServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.MenteeMypageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeMypageServlet</servlet-name>
    <url-pattern>/user/mentee/mypage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenteeModifyServlet</display-name>
    <servlet-name>MenteeModifyServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.MenteeModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeModifyServlet</servlet-name>
    <url-pattern>/user/mentee/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwReviewListServlet</display-name>
    <servlet-name>VeiwReviewListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.VeiwReviewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwReviewListServlet</servlet-name>
    <url-pattern>/review/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewWriteServlet</display-name>
    <servlet-name>ViewReviewWriteServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.ViewReviewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewWriteServlet</servlet-name>
    <url-pattern>/review/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewDetailServlet</display-name>
    <servlet-name>ViewReviewDetailServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.ViewReviewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewDetailServlet</servlet-name>
    <url-pattern>/review/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewModifyServlet</display-name>
    <servlet-name>ViewReviewModifyServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.ViewReviewModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewModifyServlet</servlet-name>
    <url-pattern>/review/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteReviewServlet</display-name>
    <servlet-name>DoDeleteReviewServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.DoDeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteReviewServlet</servlet-name>
    <url-pattern>/review/doDeleteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCommentsServlet</display-name>
    <servlet-name>ViewCommentsServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.ViewCommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentsServlet</servlet-name>
    <url-pattern>/review/comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteCommentServlet</display-name>
    <servlet-name>DoDeleteCommentServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.DoDeleteCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteCommentServlet</servlet-name>
    <url-pattern>/review/comment/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCommentModifyServlet</display-name>
    <servlet-name>ViewCommentModifyServlet</servlet-name>
    <servlet-class>com.ktds.mentos.review.web.ViewCommentModifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCommentModifyServlet</servlet-name>
    <url-pattern>/review/comment/modify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewClassListServlet</display-name>
    <servlet-name>ViewClassListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.myClass.web.ViewClassListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewClassListServlet</servlet-name>
    <url-pattern>/myclass/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewClassDeleteServlet</display-name>
    <servlet-name>ViewClassDeleteServlet</servlet-name>
    <servlet-class>com.ktds.mentos.myClass.web.ViewClassDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewClassDeleteServlet</servlet-name>
    <url-pattern>/myclass/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMyClassListServlet</display-name>
    <servlet-name>ViewMyClassListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.myClass.web.ViewMyClassListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMyClassListServlet</servlet-name>
    <url-pattern>/myclass/classlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRegistNewClass</display-name>
    <servlet-name>ViewRegistNewClass</servlet-name>
    <servlet-class>com.ktds.mentos.myClass.web.ViewRegistNewClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRegistNewClass</servlet-name>
    <url-pattern>/myclass/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentoListByCategoryServlet</display-name>
    <servlet-name>MentoListByCategoryServlet</servlet-name>
    <servlet-class>com.ktds.mentos.myClass.web.MentoListByCategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoListByCategoryServlet</servlet-name>
    <url-pattern>/myclass/mentolistbycategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.ktds.mentos.common.web.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentoSignUpServlet</display-name>
    <servlet-name>MentoSignUpServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mento.web.MentoSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoSignUpServlet</servlet-name>
    <url-pattern>/user/mento/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonSignUpServlet</display-name>
    <servlet-name>CommonSignUpServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.common.CommonSignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonSignUpServlet</servlet-name>
    <url-pattern>/user/common/signUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonLoginServlet</display-name>
    <servlet-name>CommonLoginServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.common.CommonLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonLoginServlet</servlet-name>
    <url-pattern>/user/common/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommonLogoutServlet</display-name>
    <servlet-name>CommonLogoutServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.common.CommonLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonLogoutServlet</servlet-name>
    <url-pattern>/user/common/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginCheckFilter</display-name>
    <filter-name>LoginCheckFilter</filter-name>
    <filter-class>com.ktds.mentos.common.web.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/user/mento/mypage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/user/mento/modify</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/user/mentee/mypage</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/user/mentee/modify</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/review/write</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/review/modify</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/review/comments</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginCheckFilter</filter-name>
    <url-pattern>/myclass/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>MenteeChargeServlet</display-name>
    <servlet-name>MenteeChargeServlet</servlet-name>
    <servlet-class>com.ktds.mentos.user.mentee.web.MenteeChargeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenteeChargeServlet</servlet-name>
    <url-pattern>/user/mentee/charge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MentoSearchVO</display-name>
    <servlet-name>MentoSearchVO</servlet-name>
    <servlet-class>com.ktds.mentos.user.mento.vo.MentoSearchVO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MentoSearchVO</servlet-name>
    <url-pattern>/MentoSearchVO</url-pattern>
  </servlet-mapping>
</web-app>