<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mentos-admin</display-name>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.ktds.mentos.admin.common.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistNewAuthActionServlet</display-name>
    <servlet-name>DoRegistNewAuthActionServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.authorization.web.DoRegistNewAuthActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistNewAuthActionServlet</servlet-name>
    <url-pattern>/auth/doRegist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAuthManageServlet</display-name>
    <servlet-name>ViewAuthManageServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.authorization.web.ViewAuthManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAuthManageServlet</servlet-name>
    <url-pattern>/auth/manageAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategoryManageServlet</display-name>
    <servlet-name>ViewCategoryManageServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.category.web.ViewCategoryManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategoryManageServlet</servlet-name>
    <url-pattern>/category/manageCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegistCategoryActionServlet</display-name>
    <servlet-name>DoRegistCategoryActionServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.category.web.DoRegistCategoryActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegistCategoryActionServlet</servlet-name>
    <url-pattern>/category/doRegist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCategoryDetailServlet</display-name>
    <servlet-name>ViewCategoryDetailServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.category.web.ViewCategoryDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCategoryDetailServlet</servlet-name>
    <url-pattern>/category/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteActionServilet</display-name>
    <servlet-name>DoDeleteActionServilet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.category.web.DoDeleteActionServilet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteActionServilet</servlet-name>
    <url-pattern>/category/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyActionServlet</display-name>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.category.web.DoModifyActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyActionServlet</servlet-name>
    <url-pattern>/category/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewManageUserServlet</display-name>
    <servlet-name>ViewManageUserServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.web.ViewManageUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewManageUserServlet</servlet-name>
    <url-pattern>/user/manageUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMentoListServlet</display-name>
    <servlet-name>ViewMentoListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mento.web.ViewMentoListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMentoListServlet</servlet-name>
    <url-pattern>/user/mento/mentoList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMenteeListServlet</display-name>
    <servlet-name>ViewMenteeListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mentee.web.ViewMenteeListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMenteeListServlet</servlet-name>
    <url-pattern>/user/mentee/menteeList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMentoDetailServlet</display-name>
    <servlet-name>ViewMentoDetailServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mento.web.ViewMentoDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMentoDetailServlet</servlet-name>
    <url-pattern>/user/mento/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyMenteeActionServlet</display-name>
    <servlet-name>DoModifyMenteeActionServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mentee.web.DoModifyMenteeActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyMenteeActionServlet</servlet-name>
    <url-pattern>/user/mentee/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMenteeDetailServlet</display-name>
    <servlet-name>ViewMenteeDetailServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mentee.web.ViewMenteeDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMenteeDetailServlet</servlet-name>
    <url-pattern>/user/mentee/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoModifyMentoActionServlet</display-name>
    <servlet-name>DoModifyMentoActionServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.mento.web.DoModifyMentoActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoModifyMentoActionServlet</servlet-name>
    <url-pattern>/user/mento/doModify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VeiwReviewListServlet</display-name>
    <servlet-name>VeiwReviewListServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.review.web.VeiwReviewListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VeiwReviewListServlet</servlet-name>
    <url-pattern>/review/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewWriteServlet</display-name>
    <servlet-name>ViewReviewWriteServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.review.web.ViewReviewWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewWriteServlet</servlet-name>
    <url-pattern>/review/write</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewReviewDetailServlet</display-name>
    <servlet-name>ViewReviewDetailServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.review.web.ViewReviewDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReviewDetailServlet</servlet-name>
    <url-pattern>/review/detail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoDeleteReviewServlet</display-name>
    <servlet-name>DoDeleteReviewServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.review.web.DoDeleteReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoDeleteReviewServlet</servlet-name>
    <url-pattern>/review/doDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMainMentosAdminServlet</display-name>
    <servlet-name>ViewMainMentosAdminServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.ViewMainMentosAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMainMentosAdminServlet</servlet-name>
    <url-pattern>/adminMain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAdminSignInServlet</display-name>
    <servlet-name>ViewAdminSignInServlet</servlet-name>
    <servlet-class>com.ktds.mentos.admin.user.admin.web.ViewAdminSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAdminSignInServlet</servlet-name>
    <url-pattern>/signIn</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckLoginFilter</display-name>
    <filter-name>CheckLoginFilter</filter-name>
    <filter-class>com.ktds.mentos.admin.common.CheckLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/category/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/review/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/user/mento/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/user/mentee/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CheckLoginFilter</filter-name>
    <url-pattern>/user/manageUser</url-pattern>
  </filter-mapping>
</web-app>