/* CSS reset */
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
section, header{
	display: block;
}
/* General Demo Style */
body{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow-y: scroll;
}
a{
	color: #333;
	text-decoration: none;
}
li {
	margin: 0;
	padding: 0;
}
span {
	font-size: 25px;
	font-weight: bold;
	color:#333333;
}

/* .plan {
	border-color: #ec7dc2;
	border-style:groove;
	border-width: 2px;
	
}*/

.defaultLayout{
   font-size:10pt;
   margin-top:15px;
   padding-top:0px;
   width: 100%;
   background-color: #ffffff;
   text-align: center;
   font-size: 11pt;
   font-weight: normal;
   position: relative;

}

.right {
	font-size: 11px;
}
.middlebar {
	font-size: 28px;
}
.middlebar span {
	font-size: 20px;
}

.clr{
	clear: both;
}

.container{
	width: 100%;
	height: 100%;
	position: relative;
	padding: 20px 30px 20px 30px;
	margin: 0px;
	
}

.container > header{
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    
}
.promos.container > header{
	overflow:scroll; 

	}

.container > header h1{
	position: relative;
	color: #498ea5;
	font-weight: 700;
	font-style: normal;
	font-size: 30px;
	padding: 0px 0px 5px 0px;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h1 span{
	font-family: 'Alegreya SC', Georgia, serif;
	font-size: 20px;
	line-height: 20px;
	display: block;
	font-weight: 400;
	color: #719dab;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	
}
.container > header h2{
	font-size: 30px;
	color: #333333;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.floating-box {
    display: inline-block;
    width: 900px;
    height: 80%;
    margin: 5px;
    border: 3px solid #lightgray;  
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	font-size: 15px;
	color: #lightgray;
	display: table-cell;
	vertical_align: middle;
	text_align: center;
	overflow: scroll; 
	border-color: #lightgray;
	border-style: groove;
	border-width: 2px;
	margin: 100px;
	
}

.container > inner {
	font-size: 10px;
	color: #2d6277;
	display: table-cell;
	vertical_align: middle;
	text_align: center;
	overflow: scroll; 
}
.features {
	position: relative;
	display: inline-block;
	width: 100%;
	padding: 1em;
	color:black;
	
}

/* Name Class Style */
.topbar{
	line-height: 24px;
	font-size: 11px;
	background: rgba(0, 0, 0, 0.05);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.topbar a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	text-shadow: 0px 1px 1px #fff;
	display: block;
	float: left;
}
.topbar a:hover{
	background: #fff;
}
.topbar span.right{
	float: right;
}
.topbar span.right a{
	float: left;
	display: block;
}
.topbar-demos{
    text-align:center;
	display: block;
	line-height: 30px;
	padding: 20px 0px;
}
.topbar-demos a{
    display: inline-block;
	margin: 0px 4px;
	padding: 0px 4px;
	color: #fff;
	line-height: 20px;	
	font-style: italic;
	font-size: 13px;
	border-radius: 3px;
	background: rgba(41,77,95,0.1);
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.topbar-demos a:hover{
	background: rgba(41,77,95,0.3);
}
.topbar-demos a.current,
.topbar-demos a.current:hover{
	background: rgba(41,77,95,0.3);
}

::-webkit-scrollbar {width: 15px; height: 8px; border: 3px solid #fff; }
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height: 10px; background: url('./images/bg.png') #efefef}
::-webkit-scrollbar-track {background: #efefef; -webkit-border-radius: 10px; border-radius:10px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.2)}
::-webkit-scrollbar-thumb {height: 50px; width: 50px; background: rgba(0,0,0,.2); -webkit-border-radius: 8px; border-radius: 8px; -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,.1)}

